<ion-view title="இரட்டைக்கிளவி " id="page8" style="background-color:#F06F11;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xHiRMpgzRMq55uCP5yOK_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page9()" id="page8-button7" class="button button-calm button-block">காணொளி</a>
    <div id="page8-markdown4" class="show-list-numbers-and-dots">
      <ol>
        <li>தம்பி கண்ணாடி புட்டியை உடைத்ததால் அம்மா கடு கடு வென திட்டினார்.</li>
        <li>முதலாளி வேலை பளுவால் தொழிலாளர்களிடம் கடு கடு வென பேசினார். </li>
        <li>ஆசிரியர் மாணவர்கள் தேர்வில் குறைந்த மதிப்பெண் எடுத்ததால் அனைவரிடமும் கடுகடு வென பேசினார். </li>
      </ol>
    </div>
  </ion-content>
</ion-view>