<ion-view title="இரட்டைக்கிளவி" id="page6" style="background-color:#1FC7CE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/HSHKwctxSce71QiSYP52_Slide2.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page7()" id="page6-button6" class="button button-assertive button-block">காணொளி</a>
    <div id="page6-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">எ.கா: தங்கம், வைரம், வெள்ளி</p>

      <ol>
        <li>அம்மா அணிந்திருந்த தங்க நகைகள் பள பளத்தன.</li>
        <li>கண்காட்சியில் வைக்கப்பட்டிருந்த வைரம் பள பள வென மின்னியது.</li>
        <li>வீட்டிலுள்ள வெள்ளி பாத்திரங்கள் பள பள வென காட்சியளித்தன. </li>
      </ol>
    </div>
  </ion-content>
</ion-view>