<ion-view title="இரட்டைக்கிளவி " id="page10" style="background-color:#DF3B8D;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/yW5ctUSTQ7S54vCKwfmU_Slide1.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page11()" id="page10-button8" class="button button-positive button-block">காணொளி </a>
    <div id="page10-markdown5" class="show-list-numbers-and-dots">
      <ol>
        <li>பாம்பு காய்ந்த இலைகளின் மேல் சர சர வென ஊர்ந்து சென்றது. </li>
        <li>வேடன் காய்ந்த இலைகளின் மேல் சர சர வென நடந்த சத்தத்தைப் பறவைக் கேட்டு பறந்து சென்றது. </li>
      </ol>
    </div>
  </ion-content>
</ion-view>